{% extends 'base.html' %}

{% block title %}Add Blog{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Blog</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" class="form-control mb-3" name="title" id="title" required>
        
        <label for="content">Content:</label>
        <textarea class="form-control mb-3" name="content" id="content" required></textarea>
        
        <button class="btn btn-primary" type="submit">Add Blog</button>
    </form>
</div>

{% endblock %}
